* {
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.body{
    height: 100%;
    width: 100%;

}

.banner{
     font-family: "Raleway", sans-serif;
     height: 610px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.banner-content{
    background-image: url(./assets/images/banner.png),
    linear-gradient(180deg,rgba(0, 0, 0, 1) 1%, rgba(51, 168, 216, 0.55) 52%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 230px;
    height: 180px;
}

.banner-content h1{
    font-weight: 800;
    color: #1472B7;
    font-size: 38px; 
     text-transform: uppercase; 
}

.banner-content p{
    color: white;
    font-weight: 100;
    width: 30%;
    text-align: center;
}

.banner-content button{
    height: 50px;
    width: 240px;
    background-color: transparent;
    border: 2px solid #1472B7;
    font-weight: 600;
    color: #1472B7;
    font-size:15px;
    cursor: pointer;
}

#course-content{
    display: flex;
    flex-direction: column;
    height: 610px;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    font-family: "Raleway", sans-serif;
}

#course-content h2{
    font-weight: 500;
    color: #33A8DB;
    font-size: 38px;
    text-transform: uppercase;
}

#course-content p{
    color: white;
    width: 80%;
    text-align: center;
    font-weight:100;
}

.modules-list{
    width:45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.module{
    background-color: #252525;
    text-align: center;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #33a8db solid 1px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 400;
}

.module span{
    color: #1472B7;
}

#transform-world{
    background-image: url(./assets/images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 65vh;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-family: "Raleway", sans-serif;
}

#transform-world p{
    width: 26%;
    display: flex;
   font-weight: 900;
   font-size: 40px;
   color: white;
   text-shadow: 7px 1px 1px #33A8DB;
}

#professional-challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

#professional-challenges h2{
     text-transform: uppercase;
     color: #33A8DB;
}

#professional-challenges p{
     color: white;
     font-weight: 100;
     width: 90%;
     text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 18vh;
    gap: 5px;
    font-family: "Raleway", sans-serif;
    color: white;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 1%, rgba(0, 34, 48, 1) 90%);
}

.footer img{
    height: 60px;
}

.footer a{
    text-decoration: none;
    color: #33A8DB;
}